:root {
    --cor-fundo: #01080E;
    --cor-principal: #0B0D20 ;
body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
body {
    padding: 20px;
}

h1, .caixa-perguntas, .caixa-resultado{
    font-family: 'Chakra Petch', sans-serif;
}

h1 {
    color: var(--cor-destaque);
}
button {
button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

.caixa-resultado{
    display: none;
}

.caixa-resultado.mostrar{
    display: block;
}

.caixa-alternativas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}